*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0 3vw;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1;
	color: black;
	padding-bottom: 55px;
/*	background-color: #fff;
	-webkit-text-size-adjust: 100%; */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
/* устанавливает цвет подсветки ссылки или любого кликабельного JavaScript элемента при касании. Данное свойство работает только в версиях WebKit на мобильных платформах (например, браузере Safari на устройствах с iOS версии 1.1.1 и выше). */
}
	
.todo {
	display: flex;
	flex-direction: column;
	max-width: 480px;
	margin: 15px auto;
}

.todo__input {
	position: relative;
	margin-bottom: 20px;
}

.todo__text {
	outline: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	padding: 6px 110px 6px 12px;
	width: 100%;
}
.todo__text:focus {
	border-color: #dcedc8;
}

/* стили, общие для всех кнопок */
.todo__add, .option {
	border-radius: 4px;
	background-color: #83c14d;
	color: whitesmoke;
	cursor: pointer;
	transition: background-color 0.2s ease-in;
	padding: 5px 12px 10px; /* сверху, слева, снизу */
}
	
.todo__add {
	position: absolute;
	right: 4px;
	top: 50%;
	transform: translateY(-50%);
	padding: 3px 12px 8px; /* сверху, слева, снизу */
}
/* top: 50% и поднять вверх на половину собственной высоты margin-top: -Hinner / 2.
способ не может быть применен, когда высота внутреннего блока неизвестна */
.todo__add:hover, .option:hover {
	background-color: #689f38;
}

.todo__options {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

li {
	position: relative;
	height: 40px;
	margin-top: 20px;
	padding: 10px 3px 0 12px;
	list-style-type: none;
	background-color: gainsboro;
	overflow: hidden;
	/* transition: background-color 1s ease-in; */
	touch-action: none;
}
li span {
	white-space: nowrap;
}
@media (max-width: 361px) {
	.todo__text, li span {font-size: 1rem}
}

.todo__made, .todo__delete{
	position: absolute;
	height: 34px;
	top: 3px;
	right: 3px;
	color: whitesmoke;
	opacity: 0.5;
}
.todo__made:hover, .todo__delete:hover {
	opacity: 1;
	cursor: pointer;
}

.todo__made {
	width: 50px;
	right: 50px;
	background-color: #66BB6A;
	padding-left: 18px;
	padding-top: 3px;
}

.todo__delete {
	width: 34px;
	background-color: lightcoral;
	text-align: center;
	font-size: 32px;
	padding-left: 1px;
	padding-top: 13px;
	line-height: 0;
}

.made {
	text-decoration: line-through;
	padding-left: 40px;
}

.made > .check, .checkmark {
	width: 14px;
	height: 21px;
	background-color: transparent;
	transform: rotate(45deg);
}
.made > .check {
	position: absolute;
	left: 12px;
	margin-top: -2px;
	border-right: 5px solid #66BB6A;
	border-bottom: 5px solid #66BB6A;
}
.checkmark {
	width: 14px;
	height: 21px;
	background-color: transparent;
	transform: rotate(45deg);
	border-right: 5px solid whitesmoke;
	border-bottom: 5px solid whitesmoke;
}

/* анимация для плавного смещения нижних элементов при исчезновении одного из них */
@keyframes smooth {
  0% {
    margin-top: 80px;
  }
  100% {
    margin-top: 20px;
  }
}
